<div class="section group">
	
	<div class="col span_1_of_12"></div>

	<div class="col span_5_of_12">
		<h2>Thomas P. O'Brien</h2>
		<h3>Web Developer</h3>
	</div>

	<div class="col span_5_of_12"></div>

	<div class="col span_1_of_12"></div>

</div>

<div class="section group">

	<div class="col span_1_of_12"></div>
	
	<div class="col span_5_of_12">
		<img src="/assets/temp_profile.png">
	</div>

	<div class="col span_5_of_12">
		<h4>Skills</h4>
		<table>
		<tr><td><h5>JavaScript</h5></td><td><h5>Databases</h5></td></tr>
		<tr>
			<td>
				<li>Node</li>
				<li>Express</li>
				<li>Angular</li>
				<li>React Native</li>
			</td>
			<td>
				<li>KnexJS</li>
				<li>SQLAlchemy</li>
				<li>PostgreSQL</li>		
			</td>
		</tr>
		<tr><td><h5>HTML5 / CSS3</h5></td><td><h5>Additional</h5></td></tr>
		<tr>
			<td>
				<li>BootStrap</li>
			</td>
			<td>
				<li>Git and GitHub</li>
				<li>Heroku</li>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="col span_1_of_12"></div>

<div>

<div class="section group">
	<div class="col span_1_of_12"></div>
	<div class="col span_5_of_12">
		<h4>Education</h4>
		<h5>Galvanize</h5>
			<li>Web Development Immersive</li>
		<h5>University of Washington</h5>
		<li>B.A. Political Science - 2012</li>
		<h5>CodeFellows</h5>
		<li>JavaScript Foundations I & II - 2015</li>
	</div>
	<div class="col span_5_of_12">
		<h4>Past Work</h4>
		<h5>Hale's Ales Brewery</h5>
		<h6>Event Lead/Bartender</h6>
		<li>Delivered consistently high-quality customer interactions for 50+ customers at a time during 12 hour shifts encompassing breakfast, lunch, and dinner service.</li>
		<li>Collaborated with people from diverse backgrounds to plan and conduct more than 50 events each with over 250 attendees.</li>
		<li>Designed new seating charts using Adobe Illustrator leading to clarity for existing employees and  easier training for new hires.</li>
		<h5>Rainier Title</h5>
		<h6>Escrow Assistant</h6>
		<li>Managed final payments to utility companies and HOAs during property transfers.</li>
		<li>Facilitated the transactions of 50+ of real-estate properties.</li>
		<li>Reviewed  200+ contracts for correctness and consistency.</li>
	</div>
	<div class="col span_1_of_12"></div>
</div>